@model FoodDelivery.ViewModel.FoodItemViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    ViewData["Title"] = "Details";
}

<div class="container d-flex align-items-center justify-content-center w-50">
        <div class="cart-container pt-4 pb-4 ps-0 pe-0 w-75">
            <div class="d-flex align-items-center justify-content-center">
                <div>

                    <h1 class="topic-register">Details</h1>
                    <table class="table w-50">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Id)</th>
                            <td>@Html.DisplayFor(model => model.Id)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <td>@Html.DisplayFor(model => model.Name)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Description)</th>
                            <td>@Html.DisplayFor(model => model.Description)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Price)</th>
                            <td>@Html.DisplayFor(model => model.Price)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.AddedDate)</th>
                            <td>@Html.DisplayFor(model => model.AddedDate)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CategoryId)</th>
                            <td>@Html.DisplayFor(model => model.CategoryId)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                            <td>@Html.DisplayFor(model => model.CategoryName)</td>
                        </tr>
                        <tr>
                    
                            <th colspan="2">
                                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                                {
                                    <img src="~/Images/FoodItems/@Model.ImageUrl" alt="Food Item Image" style="max-width: 300px; max-height: 300px; border-radius: 10px;" />
                                }
                                else
                                {
                                    <span>No image available</span>
                                }
                            </th>
                        </tr>
                    </table>
                        <div>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new {@class="btn"})
                                <a asp-action="Index" class="btn">Back to List</a>
                        </div>
                </div>
            </div>
        </div>
</div>