@model FoodDelivery.ViewModel.OrderViewModel
@{
    ViewData["Title"] = "Order Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order Details</h1>

<div>
    <h3>Order Information</h3>
    <dl class="row">
        <dt class="col-sm-2">Order ID:</dt>
        <dd class="col-sm-10">@Model.Id</dd>
        <!-- Add other properties of OrderViewModel as needed -->
    </dl>
</div>

<div>
    <h3>Order Items</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Item ID</th>
                <th>Food Item Name</th>
                <th>Amount</th>
                <th>Order Item Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderItems)
            {
                <tr>
                    <td>@item.OrderItemId</td>
                    <td>@item.FoodItemName</td>
                    <td>@item.Amount</td>
                    <td>@item.OrderItemTotal</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<a href="@Url.Action("Pay", "Order", new { id = Model.Id })" class="btn btn-warning">Pay</a>
